.item-style{
    border: 1px solid grey;
    width: 400px;
}

.remove-button{
    
    width: 200px;
    padding: 10px 0;
    margin-top: 20px;
}

.form-field{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: space-between;
    width: 300px;
}